*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body 
{
    background-color: #efefef;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 2px 2px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo
{
    width: 150px;
    margin-left: 45px;
}
.nav-left, .nav-right
{
    display: flex;
    align-items: center;
}
.nav-left ul li
{
    display: inline-block;
}
.nav-left ul li img
{
    width: 28px;
    margin: 0 15px;
}
.search-box
{
    background: #efefef;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    border-radius: 20px;
}
.search-box img
{
    width: 18px;
}
.search-box input
{
    width: 100%;
    background: transparent;
    border:0;
    outline: none;
    padding: 10px;
}
.nav-user-icon
{
    margin-left: 30px;
    padding-top: 10px;
}
.nav-user-icon img
{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.online
{
    position: relative;
}
.online::after
{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 10px;
    right: 0;
}
.container
{
    display: flex;
    justify-content: space-between;
    padding: 13px 1%;
}
.left-sidebar
{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.right-sidebar
{
    flex-basis: 22%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    color: #626262;
}
.main-content
{
    flex-basis: 46%;
}
.imp-links a, .shortcut-links a
{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links a img
{
    width: 22px;
    margin-right: 15px;
}
.imp-links a:last-child
{
    color: #1876f2;
}
.imp-links
{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img
{
    width: 40px;
    border-radius: 4px;
    margin-left: 15px;
}
.shortcut-links p
{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4
{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a
{
    text-decoration: none;
    color: #1876f2;
    font-size: 15px;
}
.event
{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event
{
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.right-event h4
{
    font-size: 12px;
}
.right-event p
{
    font-size: 12px;
}
.right-event a
{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.right-event
{
    display: inline;
}
.left-event span
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 12px;
    padding: 4px 0;
}
.sidebar-adds
{
    width: 100%;
    border-bottom: 20px;
    border-radius: 4px;
}
.online-list
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img
{
    width: 35px;
    border-radius: 50px;
}
.online-list .online
{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after
{
    top: auto;
    bottom: 6px;
}
.story-gallery
{
    display: flex;
    justify-content: space-between;
    border-bottom: 30px;
}
.story
{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story img
{
    position: absolute;
    width: 19px;
    border-radius: 50%;
    top: 8px;
    left: 5px;
    border: 3px solid #1876f2
}
.story p
{
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    bottom: 10px;
}
.story1
{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-1.png);
}
.story2
{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-2.png);
}
.story3
{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-3.png);
}
.story4
{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-4.png);
}
.story5
{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-5.png);
}
.story.story1 img
{
    top: unset;
    left: 50%;
    bottom: 40px;
    border: 0;
    width: 35px;
    transform: translate(-50%);
}
.write-post-container
{
    width: 95%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin-top: 20px;
}
.user-profile
{
    display: flex;
    align-items: center;
}
.user-profile img
{
    width: 45px;
    border-radius: 50px;
    margin-right: 10px;
}
.user-profile p
{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small
{
    font-size: 12px;
}
.post-input-container
{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea
{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links
{
    display: flex;
    margin-top: 10px;
}
.add-post-links a
{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links a img
{
    width: 20px;
    margin-right: 10px;
}
.post-container
{
    width: 95%;
    background: #fff;
    border-right: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
    border-radius: 6px;
}
.post-container span 
{
    font-size: 13px;
    color: #9a9a9a;
}
.post-text
{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}
.post-text span 
{
    font-weight: 700;
    color: #626262;
}
.post-text a 
{
    text-decoration: none;
    color: #1876f2;
}
.post-image
{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div 
{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    text-decoration: none;
    
}
.activity-icons div img
{
    width: 18px;
    margin-right: 10px;
}
.post-profile-icons
{
    display: flex;
    align-items: center;
}
.post-profile-icons img
{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}